.jumbotron {
  margin-bottom: 0; 
  background-color: #f8f9fa;
}
.navbar-brand img {
  max-width: 100%; 
}
.jumbotron p {
  margin-bottom: 1.5rem;
}
.footer {
  color: #fff; 
}
body {
  background-color: #f8f9fa; 
}
.img {
  top: 40%;
}
.h4 {
  color: white;
}